<!DOCTYPE html>
{% load static %}
{% load my_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if object_list %}
    {% for object in object_list %}
        Видео: {{ object.title}}  <a href="{% url 'video:download_file' object.pk %}">Скачать</a>
        <br>
<!--    <video width="400" controls>-->
<!--      <source src="{{object.video|mymedia}}" type="video/mp4">-->
<!--      Your browser does not support HTML5 video.-->
<!--    </video>-->
    {% endfor %}
{% else %}
Нет видео
{% endif %}

</body>
</html>